
export GITHUB_TOKEN="12345"
export GITHUB_REPOSITORY="tinkurlab/actions-playground"
export GITHUB_EVENT_PATH="/monorepo-pr-labeler-action/tests/fixtures/actionTrigger.json"

export BASE_DIRS="directory1|directory2"

node app.js
